<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <link href="bootstrap.css" rel="stylesheet" type="text/css">
        <script src="jquery-3.3.1.js"></script>
      <link rel="stylesheet" href="stylizedBJs.css" type="text/css">
      <script src="scriptedBJs.js"></script>
      <link href="https://fonts.googleapis.com/css?family=Fascinate+Inline" rel="stylesheet">
      <meta charset="utf-8">
      <title>Cards</title>
    </head>
  <body>

      <% include ./partials/header %>
        <button class="btn btn-default" id = "resetBank" onClick="window.location.reload()">Set Bank Back to $1000</button>
        <div class="logo"><b><span id = "fontSize">Black Jack</span></b></div>
          <br>
          <h3 id = "bankBal"></h3>
          <h3 id ="printBet"></h3>





       <div class="container">

    </div>

    <div class="row">
      <div id = "printEnd" class="col-md-4"><p><span id="bet"></span></p><p><span id="bet2"></span></p></div>
      <div class="col-md-4" id = "spaceHold">
        <h1><span id="name"></span></h1>
        <br>
        <h1>Dealer Cards</h1>
        <ul class = "deal">
        </ul>
        <p><span id="dealVal"></span></p>
      </div>
      <div id = "printEnd" class="col-md-4">  <p><span id="bank"></span></p></div>
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4" id = "spaceHold">
        <h1>Your Cards</h1>
        <ul class = "user">
        </ul>
        <p><span id="userVal"></span></p>
      </div>
      <div class="col-md-4"></div>
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4" id = "btnSpace">
        <button class="btn btn-primary" id="dealC">Deal Cards</button>
        <button class="btn btn-primary" id="hit">Hit</button>
        <button class="btn btn-primary" id="stay">Stay</button>
        <button class="btn btn-primary" id="dblDown">Double Down</button>
         <button value="Refresh Page" class="btn btn-primary" id = "reset1">New Hand</button></div>
      <div class="col-md-4"></div>
    </div>

    <div class="container" >



    </div>
<div id = "spaceBet">
  <div class="container" id="imgButtons">

    <img src="Slotimg/char2.png" alt="">
    <button id = "plus1"><img src="Slotimg/bet1.png" alt=""><span id ="button1">$1</span></button>
    <button id = "plus5"><img src="Slotimg/bet2.png" alt=""><span id ="button2">$5</span></button>
    <button id = "plus10"><img src="Slotimg/bet3.png" alt=""><span id ="button3">$10</span></button>
    <button  id = "plus50"><img src="Slotimg/bet4.png" alt=""><span id ="button4">$50</span></button>
    <button id = "plus100"><img src="Slotimg/bet5.png" alt=""><span id ="button5">$100</span></button>
    <img src="Slotimg/char2.png" alt="">
    <!-- <img src="img/bet2.png" alt="">
    <img src="img/bet3.png" alt="">
    <img src="img/bet4.png" alt="">
    <img src="img/bet5.png" alt=""> -->
  </div>
</div>
  </body>
</html>
