<!-- This section sets up our html code, links to stylesheets and scripts.
Editing this section is generally not recommended. -->

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <link href="bootstrap.css" rel="stylesheet" type="text/css">
  <link href="hotandcoldcss.css" rel="stylesheet" type="text/css">
  <script src="jquery-3.3.1.js"></script>
  <script src="scripts.js"></script>
  <link rel="stylesheet" href="hotandcoldcss.css">
  <title>Site Title</title>
</head>
  <body>

      <% include ./partials/header %>

    <!-- This section is the header of the site. ---------------------------------------------------------------->

    <div class="container">
      <div class="jumbotron">
        <h1>Hot and Cold</h1>
        <p>A Simple Game From Your Childhood</p>
      </div>

      <!-- This section is the diffulty level setting ----------------------------------------------------------->

      <form id="userInput">
        <!-- <div class="radio">
          <h5>Choose difficulty level</h5>
          <label>
            <input type="radio" name="level" value="easy">Piece of Cake
          </label>
          <br>
          <label>
            <input type="radio" name="level" value="medium">Harder
          </label>
          <br>
          <label>
            <input type="radio" name="level" value="hard">Nightmare
          </label>
        </div> -->

        <!-- This section is the user's range input ------------------------------------------------------------->

        <div class="form-group">
          <!-- <label for="user-input">Enter an upper range number:</label>
          <input id="rangeNumber" type="number" class="form-control" name="user-input"> -->

          <!-- This section is the user's Guess Number input ----------------------------------------------------->

          <label for="user-input">Guess the number:</label>
          <input id="guessedNumber" type="number" class="form-control" name="user-input" required/>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-dark">Guess!</button>
          <button value="Refresh Page" class="btn btn-dark" onClick="window.location.reload()">New Game</button>
        </div>
      </form>

      <!-- This section is the program's output ----------------------------------------------------------------->

      <div class="jumbotron" id="output">
        <h3 id="underOverOutput"></h3>
        <h5 id="hotColdOutput"></h5>
        <h5 id="attemptOutput"></h5>
      </div>
      <!-- <div id="output">
        <h3><span id="underOverOutput"></span></h3>
        <h5><span id="hotColdOutput"</h5>
      </div> -->

      <!-- As with the very first section,
      this section should generally not be edited. -------------------------------------------------------------->

    </div>
  </body>
</html>
