<!-- This section sets up our html code, links to stylesheets and scripts.
Editing this section is generally not recommended. -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="bootstrap.css" rel="stylesheet" type="text/css">
    <link href="hotandcold.css" rel="stylesheet" type="text/css">
    <script src="jquery-3.3.1.js"></script>
    <script src="hotandcold.js"></script>
    <link rel="stylesheet" href="hotandcold.css">
    <title>Site Title</title>
  </head>
    
  
<body>


    <% include ./partials/header %>

<!-- This section is the level selection area -->
  <div class="container">
    <div id="selectLevel">
      <div class="jumbotron">
        <h1>Can you guess the number?</h1><br>
      </div>
      <div class="row">
        <div class="col-md-4">
          <img class="card-img-top" src="hotandcoldimg/easy.png" alt="easy">
          <div class="card-body">
            <h5 class="card-title">Easy</h5>
            <em>Computer sets range from 0 to 100</em><br>
            <br>
            <button type="button" class="btn btn-dark" id="easy">Play!</button>
          </div>
        </div>
        <div class="col-md-4">
          <img class="card-img-top" src="hotandcoldimg/medium.png" alt="medium">
          <div class="card-body">
            <h5 class="card-title">Medium</h5>
            <em>Computer sets range from 0 to 1000</em><br>
            <br>
            <button type="button" class="btn btn-dark" id="medium">Play!</button>
          </div>
        </div>
        <div class="col-md-4">
          <img class="card-img-top" src="hotandcoldimg/hard.png" alt="hard">
          <div class="card-body">
            <h5 class="card-title">Hard</h5>
            <em>Computer sets range from 0 to 10000</em><br>
            <br>
            <button type="button" class="btn btn-dark" id="hard">Play!</button>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- This section is where the user tries to guess the number -->
  <br>
  <div class="row">
    <div class="col-md-4">
      <form id="compareNumbers">
        <div id="guessedNumberArea">
          <h3>Guess the number:</h3>
          <input id="guessedNumber" type="number" class="form-control" name="user-input" required/>
          <br>
          <button type="submit" class="btn btn-dark">Guess!</button>
          <button value="Refresh Page" class="btn btn-dark" onClick="window.location.reload()">New Game</button>
        </div>
      </form>
    </div>
    <div class="col-md-4">
    </div>
<!-- This section is the program output "It's higher / It's lower" -->
    <div class="col-md-4">
      <div id="computerOutputArea">
        <h3 id="underOverOutput"></h3>
        <h5 id="hotColdOutput"></h5>
        <br>
        <h5 id="attemptOutput"></h5>
      </div>
    </div>
  </div>
<!-- As with the very first section, this section should generally not be edited. -->
</body>
</html>
