<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
  <link rel="stylesheet" href="Slotstyles.css" type="text/css" media = "all">
  <script src="Slotscripts.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Fascinate+Inline" rel="stylesheet">
    <title>Slot Machine</title>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <br><br><br><br><br><br><br><br><br><br>
            <div class="logo"><b><span>SLOTS! </span></b></div>
</div>
            <br><br><br><br><br>
            <h1 id = "headline"></h1>
            <h1 id = "bal"></h1>

        </div>
      </div>
    </nav>
    <ul class="strand">
    	<!-- <li> tags create the individual christmas lights. we're going to have 43 -->
    	<li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>

    </ul>

    <div class="container text-center">
     <br>
      <div class="row">
        <div class="col-sm-4">
          <ul id = "list0" style="list-style-type:none;">
          </ul>
        </div>
        <div class="col-sm-4">
          <ul id = "alist0" style="list-style-type:none;">
          </ul>
        </div>
        <div class="col-sm-4">
          <ul id = "blist0" style="list-style-type:none;">
          </ul>
        </div>
      </div>
    </div><br>

    <footer class="container-fluid text-center" id = "buttonSpin">
      <p><button type="button" name="button" class = "btn btn-success" id = "spinButton">SPIN TO WIN</button></p>


    </footer>
    <div class="container">

      <h4><span id ="printBet"></span></h4>


    </div>
    <div class="container" id="imgButtons">

      <img src="Slotimg/char2.png" alt="">
      <button id = "plus1"><img src="Slotimg/bet1.png" alt=""><span id ="button1">$1</span></button>
      <button id = "plus5"><img src="Slotimg/bet2.png" alt=""><span id ="button2">$5</span></button>
      <button id = "plus10"><img src="Slotimg/bet3.png" alt=""><span id ="button3">$10</span></button>
      <button  id = "plus50"><img src="Slotimg/bet4.png" alt=""><span id ="button4">$50</span></button>
      <button id = "plus100"><img src="Slotimg/bet5.png" alt=""><span id ="button5">$100</span></button>
      <img src="Slotimg/char2.png" alt="">

      <!-- <img src="img/bet2.png" alt="">
      <img src="img/bet3.png" alt="">
      <img src="img/bet4.png" alt="">
      <img src="img/bet5.png" alt=""> -->
    </div>
  </body>
</html>
