body{
  background-image: url("https://pl.sterlingcdn.com/wp-content/uploads/sites/3/2018/07/blackjack-classic-background.jpg");
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.user li {
  list-style-type: none;
  display: inline;
}
.deal li {
  list-style-type: none;
  display: inline;
}
#hit {
  display: none;
}
#stay{
  display: none;
}
#dblDown{
  display: none;
}
#dealC{
  display: none;
}
#imgButtons{
  display: flex;
}


#imgButtons img{
  background-color: transparent;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  justify-content: space-around;
}
#button1{
  color: black;
  font-size: 3em;
  opacity: .7;
  margin: 0 auto;
  font-family: 'Fascinate Inline', cursive;

}

#button2{
  color: black;
  font-size: 3em;
  opacity: .7;
  margin: 0 auto;
  font-family: 'Fascinate Inline', cursive;

}

#button3{
  color: black;
  font-size: 3em;
  opacity: .7;
  margin: 0 auto;
  font-family: 'Fascinate Inline', cursive;

}

#button4{
  color: black;
  font-size: 3em;
  opacity: .7;
  margin: 0 auto;
  font-family: 'Fascinate Inline', cursive;

}

#button5{
  color: black;
  font-size: 3em;
  opacity: .7;
  margin: 0 auto;
  font-family: 'Fascinate Inline', cursive;

}


.row img {
  height: 150px;
}
h3 {
  color:#c4c6c5;
  font-family: 'VT323', monospace;
  animation: blink linear infinite 4s;
  text-align: center;
}


#bustbust{
  font-size: 25px;
}
#loser {
  display: flex;
  display: none;
}
#name {
  color: white;
  font-weight: bolder;
  text-align: center;
  font-size: 20px;
}
#printBet{
  text-align: center;
  font-size: 30px;
}
 #bet, #bank, #bet2{
  font-size: 40px;
  font-family: 'Fascinate Inline', cursive;
  color: #aa9c19;
}
#bankBal{
  text-align: center;
  font-size: 30px;
}
#spaceHold {
  height: auto;
}
#btnSpace{
  height: 45px;
}
#cardA1, #cardA2, #cardA3, #cardA4, #cardA5, #cardA6, #cardA7, #cardA9{
  float: left;
  height: 200px;
  list-style-type: none;
  display: inline;
  display: none;
}
#cardD1, #cardD2, #cardD3, #cardD4, #cardD5, #cardD6, #cardD7, #cardD9{
  float: left;
  height: 200px;
  list-style-type: none;
  display: inline;
  display: none;
}
#spaceBet {
  height: 165px;
}
#resetBank{
  display: none;
}
/* flashing sign */
#fontSize {
  font-size: 125px;
}
.jumbotron {
  height: 400px;
  background-color: transparent;
}
.logo {
  text-align: center;
  width: 65%;
  height: 225px;
  margin: auto;
  /* position: absolute; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.logo b{
  font: 100 15vh "Vibur";
  font-family: 'Fascinate Inline', cursive;
  color: #fff;
  text-shadow: 0 -40px 400px, 0 0 2px, 0 0 1em #f4f4f4, 0 0 0.5em #f4f4f4, 0 0 0.1em #f4f4f4, 0 10px 3px #000;
}
.logo b span{
  animation: blink linear infinite 3s;
}
@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79%{
     color: #333;
  }
  80% {

    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}
/* end flashing sign */
